<tr class="fields item">
  <td class="number"></td>
  <td><%= f.text_field :text, :class => 'form-control' %></td>
  <td class="remove">
    <%= link_to_remove_fields 'Удалить', f %>
  </td>
  <% if @type == 'Сопоставление' %>
      <td class="sorter">
        <span class="fa fa-arrows"></span>
      </td>
  <% end %>
  <%= f.hidden_field :serial_number, :class => 'serial_number' %>
</tr>

