<tr class="fields">
  <% if f.object.new_record? %>
      <td><%= f.file_field(:file_content) %></td>
      <td></td>
  <% else %>
      <td><%= f.object.file_content_file_name %></td>
      <td><%= f.object.file_content_content_type %></td>
  <% end %>
  <td><%= link_to_remove_fields '<i class="fa fa-trash"></i>', f %></td>
</tr>
