<div class="container">
  <div class="panel panel-default ">
    <div class="panel-heading question-header">
      <h2 class="text-center">Время на тестирование истекло</h2>
      <hr/>
      <div class="text-center">
        <%= link_to 'Посмотреть результат', try_result_try_path(@try), class: 'btn btn-primary btn-lg' %>
      </div>
      <hr/>
    </div>
  </div>
</div>