<%= content_for :title, 'Карточка испытуемого Иванов Иван Иванович' %>
<div class="mainpanel" >

  <div class="pageheader">
    <div class="row">
      <div class="col-sm-3 col-lg-2">
        <a class="btn btn-white back-btn pull-right" title="Назад" href="#">
          <i class="fa fa-arrow-left"></i>
        </a>
        <h2>Испытуемые</h2>
      </div>
      <div class="col-sm-9 col-lg-10">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="active">
              <div class="btn-group nomargin">
                <span class="dropdown-toggle" data-toggle="dropdown">Карточка испытуемого Иванов Иван Иванович</span>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="contentpanel ">
    <div class="row">
      <div class="col-sm-3 col-lg-2">
        <div class="panel panel-default">
          <div class="panel-body panel-profile text-center">
            <p>Отсутствует учетная запись</p>
            <div class="btn btn-white">Создать</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body panel-profile text-center">
            <a href="#">Карточка медперсонала Р123123</a>
          </div>
        </div>
        <ul class="nav nav-pills nav-stacked nav-email mb20" style="margin-left: 0">
          <li class="">
            <a href="#">
              <i class="fa fa-history"></i> История
            </a>
          </li>
        </ul>
      </div>

      <div class="col-sm-9 col-lg-10">
        <div class="panel panel-default">
          <div class="panel-body panel-profile">
            <h3 style="margin: 0">Иванов Иван Иванович <span class="btn btn-white btn-sm"><i class="fa fa-pencil"></i></span></h3>
            <br/>
            <div class="row">
              <div class="col-lg-4">
                <table class="profile table-no-padding-left">
                  <tr>
                    <th style="width: 150px">Номер в обл. рег.</th>
                    <td>Р120391</td>
                  </tr>
                  <tr>
                    <th >Дата рождения</th>
                    <td>12.12.1985</td>
                  </tr>
                  <tr>
                    <th>ЛПУ</th>
                    <td>Городской СПИД-центр</td>
                  </tr>
                </table>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-lg-12">
                <h3>Режим Аттестация 2014-А-1 <span class="btn btn-white btn-sm">Изменить</span></h3>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <table class="profile table-no-padding-left">
                  <tr>
                    <th style="width: 150px">Всего тестов</th>
                    <td>4</td>
                  </tr>
                  <tr>
                    <th>Попыток</th>
                    <td>6</td>
                  </tr>
                </table>
              </div>
              <div class="col-lg-4">
                <h4>Резльтат <span class="btn btn-white btn-sm"><i class="fa fa-eye"></i></span> <span class="btn btn-white"><i class="fa fa-print"></i></span></h4>
                <p class="text-success"><strong>Зачет получен 70% 75 из 120 баллов</strong></p>
                <!--<div class="btn btn-white"><i class="fa fa-print"></i></div>-->
              </div>
            </div>
            <hr/>
            <ul id="myTab" class="nav nav-pills" role="tablist">
              <li role="presentation" class="active">
                <a href="#home" id="home-tab" role="tab" data-toggle="tab" >Тесты</a>
              </li>
              <li role="presentation" class="">
                <a href="#profile" role="tab" id="profile-tab" data-toggle="tab" >Попытки</a>
              </li>
            </ul>
            <div id="myTabContent" class="tab-content" style="padding: 15px 0; background-color: #ffffff">
              <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                <div title="Добавить тест" class="btn btn-white pull-right" style="margin-top: -50px"><i class="fa fa-plus"></i></div>
                <table class="table table-bordered table-condensed table-striped">
                  <tr>
                    <th>Название</th>
                    <th>Кл-во попыток</th>
                    <th>Последняя попытка</th>
                    <th>Балл</th>
                    <th>Результат</th>
                  </tr>
                  <tr>
                    <td>Педиатрия 2</td>
                    <td>5</td>
                    <td>22.03.15 15:55</td>
                    <td>20</td>
                    <td><span class="label label-success">Зачет</span></td>
                  </tr>
                </table>
              </div>
              <div role="tabpanel" class="tab-pane fade " id="profile" aria-labelledby="profile-tab">
                <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                  <table class="table table-bordered table-condensed table-striped">
                    <tr>
                      <th>Тест</th>
                      <th>Время сдачи</th>
                      <th>Длительность</th>
                      <th>Балл</th>
                      <th>Результат</th>
                    </tr>
                    <tr>
                      <td>Педиатрия </td>
                      <td>22.03.15 15:55</td>
                      <td>30 мин</td>
                      <td>20</td>
                      <td><span class="label label-danger">Не зачет</span></td>
                    </tr>
                    <tr>
                      <td>Педиатрия</td>
                      <td>24.03.15 15:55</td>
                      <td>30 мин</td>
                      <td>40</td>
                      <td><span class="label label-success">Зачет</span></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>