<div class="mainpanel" >

  <div class="pageheader">
    <div class="row">
      <div class="col-sm-3 col-lg-2">
        <a class="btn btn-white back-btn pull-right" title="Назад" href="/test_groups/3">
          <i class="fa fa-arrow-left"></i>
        </a>
        <h2>ФИО</h2>
      </div>
      <div class="col-sm-9 col-lg-10">
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li class="active">
              <div class="btn-group nomargin">
                  <span class="dropdown-toggle" data-toggle="dropdown">Справочник медперсонала</span>
              </div>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="contentpanel panel-email">
    <div class="row">
      <div class="col-sm-3 col-lg-2">
        <div class="btn-group nomargin">
          <button class="btn btn-primary create-btn dropdown-toggle" data-toggle="dropdown" title="Создать">
            Создать
          </button>
        </div>
        <ul class="nav nav-pills nav-stacked nav-email mb20">
          <li>
            <a class="active" href="#">Испытуемые</a>
          </li>
          <li>
            <a class="" href="#">Мед персонал</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-9 col-lg-10">
        <div class="panel panel-default">
          <div class="panel-body panel-profile">
            <div class="btn-group labels mr10">
              <form action="#" class="form form-inline">
                <div class="form-group" style="margin-top: 5px">
                  <input type="text" class="form-control" style="width: 500px; padding: 7px; " />
                  <div type="submit" class="btn btn-white"><i class="fa fa-search"></i></div>
                </div>
              </form>
            </div>

            <div class="table-responsive">
              <table class="table table-hover">
                <tbody>
                    <tr>
                      <td>Р120391</td>
                      <td>Иванов Иван Иванович</td>
                      <td>Городской СПИД-центр</td>
                    </tr>
                    <tr>
                      <td>Р120391</td>
                      <td>Иванов Иван Иванович</td>
                      <td>Городской СПИД-центр</td>
                    </tr>
                    <tr>
                      <td>Р120391</td>
                      <td>Иванов Иван Иванович</td>
                      <td>Городской СПИД-центр</td>
                    </tr>
                    <tr>
                      <td>Р120391</td>
                      <td>Иванов Иван Иванович</td>
                      <td>Городской СПИД-центр</td>
                    </tr>
                    <tr>
                      <td>Р120391</td>
                      <td>Иванов Иван Иванович</td>
                      <td>Городской СПИД-центр</td>
                    </tr>
                </tbody>
              </table>
              <div class="text-center text-info alert alert-info" style="padding: 20px 0">
                <strong>Для поиска мерперсонала введите код врачаили ФИО</strong>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>