<ul>
    <li>(0)Тесты
        <ul>
            <li>(1)Вложенная группа
                <ul>
                    <li>(2)dfgdfg
                        <ul>
                            <li>(3)Группа 14
                            </li>
                        </ul>
                    </li>
                    <li>(2)Группа 23
                    </li>
                </ul>
            </li>
            <li>(1)Главная 5
                <ul>
                    <li>(2)Группа 4
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>