<section>

  <div class="mainpanel">

    <div class="pageheader">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <button class="btn btn-white back-btn pull-right" title="Назад">
            <i class="fa fa-arrow-left"></i>
          </button>
          <h2> Задание</h2>
        </div>
        <div class="col-sm-9 col-lg-10">
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li><a href="index.html">Педиатрия общая</a></li>
              <li class="active">Раздел 1 </li>
              <li class="active">Задание #27
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="contentpanel panel-email">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
        </div>
        <div class="col-sm-9 col-lg-10">

          <div class="panel panel-default">
            <div class="panel-body">
              <!-- pull-right -->
              <div class="row">
                <div class="col-lg-8">
                  <h3>
                    #27 <small class="ml5">Единичный выбор <i class="fa fa-list ml5"></i></small>
                  </h3>
                </div>
                <div class="col-lg-4 text-right save-panel">
                  <span class="text-muted">сохранено</span>
                  <button class="btn btn-primary tooltips"  type="button" title="Сохранить"><i class="fa fa-cloud-upload"></i></button>
                  <button class="btn btn-white tooltips"  type="button" title="Предпросмотр"><i class="fa fa-play"></i></button>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <h4>Формулировка задания</h4>
                  <textarea class="form-control" rows="3"></textarea>
                </div>
                <div class="col-lg-6">
                  <div class="btn btn-white btn-sm pull-right tooltips" title="Добавить файл"><i class="fa fa-plus"></i></div>
                  <h4>Медиа контент</h4>
                  <table class="table table-bordered table-striped table-condensed table-files">
                    <tbody>
                    <tr>
                      <td>Имя файла</td>
                      <td>mp3</td>
                      <td><div class="btn btn-sm btn-white" title="Удалить"><i class="fa fa-trash"></i></div></td>
                    </tr>
                    <tr>
                      <td>Имя файла</td>
                      <td>mp3</td>
                      <td><div class="btn btn-sm btn-white" title="Удалить"><i class="fa fa-trash"></i></div></td>
                    </tr>
                    <tr>
                      <td>Имя файла</td>
                      <td>mp3</td>
                      <td><div class="btn btn-sm btn-white" title="Удалить"><i class="fa fa-trash"></i></div></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <h4 >Варианты ответов <span class="btn btn-white btn-sm ml10 mr30 tooltips" title="Добавить вариант ответа"><i class="fa fa-plus"></i></span><small style="display: inline-block" class="ml10 ">Баллы <input type="text" class="form-control input-sm score_count" value="1"></small></h4>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <textarea class="form-control" rows="2">Выберите наиболее правильный и полный ответ</textarea>
                </div>
              </div>
              <br/>
              <div class="row">
                <div class="col-sm-6">
                  <table class="table table-striped answer_table table-bordered">
                    <tbody>

                    <tr class="fields success">
                      <td>1</td>
                      <td><input class="radio-btn" type="radio" value="true"></td>
                      <td><input class="form-control" type="text" value="Локализация разрыва сердца"></td>
                      <td><div class="btn btn-sm btn-white tooltips" title="Удалить"><i class="fa fa-times"></i></div></td>
                      <td class="sorter"><span style="font-size: 18px;" class="fa fa-arrows"></span></td>
                    </tr>

                    <tr class="fields">
                      <td>2</td>
                      <td><input class="radio-btn" type="radio" value="true"></td>
                      <td><input class="form-control" type="text" value="Состояние кровоизлияния в сердечной сорочке"></td>
                      <td><div class="btn btn-sm btn-white tooltips" title="Удалить"><i class="fa fa-times"></i></div></td>
                      <td class="sorter"><span style="font-size: 18px;" class="fa fa-arrows"></span></td>
                    </tr>

                    <tr class="fields">
                      <td>3</td>
                      <td><input class="radio-btn" type="radio" value="true"></td>
                      <td><input class="form-control" type="text" value="Повреждение сердечной сорочки"></td>
                      <td><div class="btn btn-sm btn-white tooltips" title="Удалить"><i class="fa fa-times"></i></div></td>
                      <td class="sorter"><span style="font-size: 18px;" class="fa fa-arrows"></span></td>
                    </tr>
                    <tr class="fields">
                      <td>4</td>
                      <td><input class="radio-btn" type="radio" value="true"></td>
                      <td><input class="form-control" type="text" value="Развитие инфаркта миокарда"></td>
                      <td><div class="btn btn-sm btn-white tooltips" title="Удалить"><i class="fa fa-times"></i></div></td>
                      <td class="sorter"><span style="font-size: 18px;" class="fa fa-arrows"></span></td>
                    </tr>

                  </table>
                  <div class="btn btn-primary"  >Сохранить</div>
                </div>
              </div>
            </div>
            <!-- panel-body -->
          </div>
          <!-- panel -->
        </div>
        <!-- col-sm-9 -->
      </div>
      <!-- row -->
    </div>
  </div>
  <!-- mainpanel -->
</section>
