<section>
  <div class="mainpanel">

    <div class="pageheader">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <button class="btn btn-white back-btn pull-right" title="Назад">
            <i class="fa fa-arrow-left"></i>
          </button>
          <h2> Тест</h2>
        </div>
        <div class="col-sm-9 col-lg-10">
          <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
              <li><a href="index.html">Педиатрия общая</a></li>
              <li class="active">
                <div class="btn-group nomargin">
                  <span class="dropdown-toggle"  data-toggle="dropdown">раздел 1 <span class="caret"></span></span>
                  <ul class="dropdown-menu">
                    <li><a href="#"> Переименовать</a></li>
                  </ul>
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="contentpanel panel-email">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <div class="btn-group nomargin">
            <button class="btn btn-primary create-btn dropdown-toggle" data-toggle="dropdown" title="Создать">
              Создать
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#"> Задание</a></li>
              <li><a href="#"> Раздел</a></li>
            </ul>

          </div>

          <ul class="nav nav-pills nav-stacked nav-email mb20">
            <li><a href="#"><i class="fa fa-list-alt"></i> Задания</a></li>
            <li><a href="#"><i class="fa fa-trash"></i> Корзина</a></li>
          </ul>

          <h5 class="sidebartitle">Разделы</h5>
          <ul class="nav nav-pills nav-stacked nav-bracket">
            <li class="tree">
              <ul class="children" style="display: block">
                <li><a href="#"><i class="fa fa-caret-down trnsp"></i> Раздел 1</a></li>
                <li><a href="#"><i class="fa fa-caret-down trnsp"></i> Раздел 2</a></li>
                <li><a href="#" class="active"><i class="fa fa-caret-down trnsp"></i> Раздел 3</a></li>
                <li><a href="#"><i class="fa fa-caret-down trnsp"></i> Раздел 4</a></li>
              </ul>
            </li>
          </ul>

        </div>
        <div class="col-sm-9 col-lg-10">

          <div class="panel panel-default">
            <div class="panel-body task-panel">

              <div class="btn-group mr10 ml5">
                <div class="btn-group ">
                  <button class="btn btn-white tooltips" type="button" title="Переименовать">
                    <div class="ckbox ckbox-default">
                      <input type="checkbox" id="checkbox0">
                      <label for="checkbox0"></label>
                    </div>
                  </button>
                  <button class="btn btn-white tooltips" type="button" title="Переместить" data-toggle="modal" data-target="#move">
                    <i class="fa fa-folder"></i>
                  </button>
                </div>

                <button class="btn btn-white tooltips" type="button" data-toggle="tooltip" title="Удалить"><i class="fa fa-trash"></i></button>
                <div class="btn-group ">
                  <button class="btn btn-white tooltips dropdown-toggle" data-toggle="dropdown" type="button" title="" data-original-title="Другое">
                    <i class="fa fa-ellipsis-v"></i>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Переименовать</a></li>
                  </ul>

                </div>
              </div>

              <div class="btn-group labels mr10">
                <div class="btn-group">
                  <button data-toggle="dropdown" class="btn btn-white dropdown-toggle tooltips" type="button" title="Эквивалентные группы">
                    <span class="label label-info"><strong>12</strong></span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#"><span class="label label-info"><strong>1</strong></span></a></li>
                    <li><a href="#"><span class="label label-info"><strong>2</strong></span></a></li>
                    <li><a href="#"><span class="label label-info"><strong>3</strong></span></a></li>
                    <li><a href="#">Добавить</a></li>
                  </ul>
                </div>
              </div>
              <div class="pull-right">
                <span class="mr10 italic text-muted">15 из 30 </span>
                <div class="btn-group mr10">
                  <button class="btn btn-white" type="button"><i class="fa fa-chevron-left"></i></button>
                  <button class="btn btn-white" type="button"><i class="fa fa-chevron-right"></i></button>
                </div>
              </div>
              <!-- pull-right -->


              <div class="table-responsive">
                <table class="table table-email tasks">
                  <tbody>
                  <tr class="unread">
                    <td><div class="chain-start"></div></td>
                    <td>
                      <div class="ckbox ckbox-default">
                        <input type="checkbox" id="checkbox1">
                        <label for="checkbox1"></label>
                      </div>
                    </td>
                    <td><span class="label label-info"><strong>1</strong></span></td>
                    <td style="width: 30px"><i class="fa fa-list"></i></td>
                    <td>
                      <div class="media">
                        <div class="media-body">
                          <span class="media-meta pull-right">Today at 7:30am</span>
                          <span class="media-meta pull-right mr20">Раздел 1</span>
                          <h4 class="">Заподозрить при наружном осмотре трупа отравление окисью углерода возможно по:</h4>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="unread">
                    <td class=""><div class="chain-item"></div></td>
                    <td>
                      <div class="ckbox ckbox-default">
                        <input type="checkbox" id="checkbox2">
                        <label for="checkbox2"></label>
                      </div>
                    </td>
                    <td><span class="label label-info"><strong>2</strong></span></td>
                    <td><i class="fa fa-list-ul"></i></td>
                    <td>
                      <div class="media">
                        <div class="media-body">
                          <span class="media-meta pull-right">Today at 7:30am</span>
                          <span class="media-meta pull-right mr20">Раздел 1</span>
                          <h4 class="">Способность к сознательным действиям у пострадавших с наличием повреждений, послуживших причиной смерти, исключается:</h4>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="unread">
                    <td><div class="chain-stop"></div></td>
                    <td>
                      <div class="ckbox ckbox-default">
                        <input type="checkbox" id="checkbox3">
                        <label for="checkbox3"></label>
                      </div>
                    </td>
                    <td><span class="label label-info"><strong>3</strong></span></td>
                    <td><i class="fa fa-list-ul"></i></td>
                    <td>
                      <div class="media">
                        <div class="media-body">
                          <span class="media-meta pull-right">Today at 7:30am</span>
                          <span class="media-meta pull-right mr20">Раздел 1</span>
                          <h4 class="">Специфическим признаком механической асфиксии при аспирации крови в дыхательные пути является:</h4>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="unread">
                    <td></td>
                    <td>
                      <div class="ckbox ckbox-default">
                        <input type="checkbox" id="checkbox4">
                        <label for="checkbox4"></label>
                      </div>
                    </td>
                    <td><span class="label label-info"><strong>12</strong></span></td>
                    <td></td>
                    <td>
                      <div class="media">
                        <div class="media-body">
                          <span class="media-meta pull-right">Today at 7:30am</span>
                          <h4 class="">Исследование внутренних органов трупа при огнестрельном ранении следует начинать с:</h4>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- table-responsive -->

            </div>
            <!-- panel-body -->
          </div>
          <!-- panel -->

        </div>
        <!-- col-sm-9 -->

      </div>
      <!-- row -->

    </div>

  </div>
  <!-- mainpanel -->


</section>


<!-- modals -->
<div class="modal fade" id="move">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Переместить</h4>
      </div>
      <div class="modal-body">
        <p>3 задания в раздел </p>
        <ul class="nav nav-pills nav-stacked nav-bracket">
          <li class="tree" style="margin-left: -10px">
            <ul class="children" style="display: block">
              <li>
                <a href="#"> Раздел 1</a>
                <a href="#" class="active"> Раздел 2</a>
                <a href="#"> Раздел 3</a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary">Переместить</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--end modal-->
