@font-face {
	font-family: 'icomoon';
	src:font-url('icomoon.eot?8rvgau');
	src:font-url('icomoon.eot?#iefix8rvgau') format('embedded-opentype'),
		font-url('icomoon.woff?8rvgau') format('woff'),
		font-url('icomoon.ttf?8rvgau') format('truetype'),
		font-url('icomoon.svg?8rvgau#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mutli:before {
  content: "\e600";
}
.icon-single:before {
  content: "\e601";
}
.icon-open:before {
  content: "\e602";
}
.icon-sequence:before {
  content: "\e603";
}
.icon-connect:before {
  content: "\e604";
}
.icon-chain-start:before {
  content: "\e605";
}
.icon-chain-item:before {
  content: "\e606";
}
.icon-chain-end:before {
  content: "\e607";
}
.icon-n-1 .path1:before {
  content: "\e608";
  color: rgb(0, 0, 0);
}
.icon-n-1 .path2:before {
  content: "\e609";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-n-2 .path1:before {
  content: "\e60a";
  color: rgb(0, 0, 0);
}
.icon-n-2 .path2:before {
  content: "\e60b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-n-3 .path1:before {
  content: "\e60c";
  color: rgb(0, 0, 0);
}
.icon-n-3 .path2:before {
  content: "\e60d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-n-4 .path1:before {
  content: "\e60e";
  color: rgb(0, 0, 0);
}
.icon-n-4 .path2:before {
  content: "\e60f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-n-5 .path1:before {
  content: "\e610";
  color: rgb(0, 0, 0);
}
.icon-n-5 .path2:before {
  content: "\e611";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-n-6 .path1:before {
  content: "\e612";
  color: rgb(0, 0, 0);
}
.icon-n-6 .path2:before {
  content: "\e613";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-n-7 .path1:before {
  content: "\e614";
  color: rgb(0, 0, 0);
}
.icon-n-7 .path2:before {
  content: "\e615";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-n-8 .path1:before {
  content: "\e616";
  color: rgb(0, 0, 0);
}
.icon-n-8 .path2:before {
  content: "\e617";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-n-9 .path1:before {
  content: "\e618";
  color: rgb(0, 0, 0);
}
.icon-n-9 .path2:before {
  content: "\e619";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-n-0 .path1:before {
  content: "\e61a";
  color: rgb(0, 0, 0);
}
.icon-n-0 .path2:before {
  content: "\e61b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-back:before {
  content: "\e61c";
}